/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 5;
    margin-bottom: 10px;
    border: solid 20px #f9c9c9;
    background-color: #ffd7fd;
  }

h1 {
  color: rgb(157, 0, 34);
  font-size:200%; 
}
p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-indent: 5px;
  margin-left: 5px;
}

#content {
  background-color: rgb(255, 184, 184);
  width: 1000px;
  min-height: 10px;
  padding: 20px;
  margin: 500px;
border: solid 5px #ff8888;
Font-size: 40px;
}