

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #f7a4d8;
  background-color: #d391ff;
}

h1 {
  color: rgb(120,28,124);
  font-size: 150%;
}

p {	
  font-family:"roboto";
  text-indent :10 px ; 
  margin-left :5 px ;	
}

#content{
  background-color :aliceblue ; 
  width :500 px ;
  min-height :300 px ;
  padding :10 px ;
  border l0 # = "solid" d391 ff font-size=20
}

html {
  cursor: url("img/fix.png"), auto;
} 

img {
  transform: translate(5px, 5px);
} 

